table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
  .name{
font-size: 24px;
font-weight:bold;
color: blueviolet;
  }
.address {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.hobby{
  font-size: 24px;
  font-weight: bold;
  color: rgba(216, 112, 199, 0.921);
}